/*Topo*/
.bg-topo{
    background-color: #68627a;
}

.btn-orc{
    border: 2px solid #fff;
    background: none;
    position: relative;
    color: #fff;
    z-index: 1;
    border-radius:30px;
    height: 100%;
}

.btn-orc:hover{
    color: #68627a;
    background: #fff;
    transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
}


/*seção serviços*/

.bg-serviços{
    background: linear-gradient(131deg, #312b45 30%, #ff3959 100%);
}

/*rodape*/
.bg-rodape1{
    background-color: #312b45;
}

.bg-rodape2{
    background: #4c465f;
}

a.icon-social{
    color: #b3aec2;
}

.bg-rodape1 ul li{
    list-style: none;
}

.bg-card{
    background: #ff3859;
}

.icon-banner{
    color: #c42841;
}

.bg-rodape1 ul{
    -webkit-padding-start: 0;
}

/*seção parceiros*/

.bg-parceiros{
    background-color: #f2f0f7;
}

.p-parceiros{
    padding: 2px !important;
}

/*seção fatos*/

.bg-paralax{
    background: url('../imagens/bg.jpg') fixed;
    position: relative;
}

.fatos{
    text-align: center;
}

.fatos .icon i{
    font-size: 50px;
    color: #fff;
}

.fatos h3{
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.fatos h4{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}

/*seção de cursos*/

.tabela-preço{
    padding: 0 0 40px 0;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    text-align: center;
}

.tabela-preço .preço-detalhe h2{
    font-size: 26px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #f1f1f1;
    padding: 30px 5px;
}

.tabela-preço .preço-detalhe span{
    display: block;
    font-size: 48px;
    color: #4c465f;
    margin-bottom: 40px;
    font-weight: 400;
}

.tabela-preço .preço-detalhe ul{
    margin-bottom:35px;
    padding: 0 !important; 
    list-style: none;
}

.tabela-preço .preço-detalhe ul li{
    padding: 10px;
    font-size: 15px;
    border-bottom: 1 px dotted #f1f1f1;
}

.btn-preço{
    border: 1px solid #ff3859;
    background-color: #ff3859;
    color: #fff;
    position: relative;
    border-radius: 30px;
    z-index: 1;
}

.btn-preço:hover{
    color: #fff;
    background: #4c465f;
    border-color: #4c465f;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

/* configurações gerais */

.undeline{
    content: '';
    border-top:2px solid #ff3859;
    width: 70px;
    display: block;
    margin-bottom:8px;
    margin: 0px auto; 
}

.sombra:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1)
}

.underline-footer{
    content: '';
    border-top:2px solid #ff3859;
    width: 70px;
    display: block;
    margin-top:5px;
}